/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* VARIABLE */
:root{
    --main-color: #EAA023;
    --dark : #0C1023;
    --dark-light: #191F3A;
    --white : #FFFFFF;
    --white-light : #C8C8C8;
    --shadow : 0 0 15px rgba(0,0,0,0.25);
    --cursive-font: 'Dancing Script', cursive;
    scroll-behavior: smooth;
}

/* SCROLLBAR */
html::-webkit-scrollbar {
    width: 1rem;
}  
html::-webkit-scrollbar-track {
    background: transparent;
} 
html::-webkit-scrollbar-thumb {
    background:  #965c11;
    border-radius: 5rem;
}

/* GLOBAL SETTING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--white-light);
}
img{
    vertical-align: middle;
    max-width: 100%;
}
a{
    text-decoration: none;   
}
ul{
    list-style: none;
}
h1{
    font-weight: 700;
    color: var(--white);
}
h2{
    font-weight: 600;
    color: var(--white);
}
h3,
h4,
h5,
h6{
    font-weight: 500;
    color: var(--white);
}
p{
    font-size: 16px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.min-vh-100{
    min-height: 100vh;
}
.sec-padding{
    padding: 80px 0;
}
section{
    overflow: hidden;
}

/* SECTION TITLE */
.section-title{
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 35px;
    text-transform: capitalize;
}
.section-title h2::before{
    content: attr(data-title);
    display: block;
    font-size: 24px;
    font-family: var(--cursive-font);
    font-weight: 400;
    color: var(--main-color);
    text-transform: capitalize;
}


/* BUTTON */
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--main-color);
    line-height: 1.5;
    user-select: none;
    border: none;
}
.btn-default{
    border: 2px solid var(--main-color);
}
.btn-default:hover{
    color: var(--white);
    background-color: var(--main-color);
}

/* ANIMATION KEYFRAMES */
@keyframes zoomInOut{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
@keyframes spin01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes pageLoader{
    0%,100%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(50px);
    }
}

/* PAGE LOADER */
.page-loader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #965c11;
    z-index: 999;
    transition: all 0.6s ease;
}
.page-loader.fade-out{
    opacity: 0;
}
.page-loader::before{
    content:'';
    position: absolute;
    height: 4px;
    width: 100px;
    background-color: var(--main-color);
    left: calc(50% - 50px);
    top: calc(50% - 2px);
    animation: pageLoader 1s linear infinite;
}

/* HEADER */
.header{
    padding: 12px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}
.header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #965c11;
    box-shadow: var(--shadow);
    z-index: -1;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
}
.header.sticky::before{
    transform: translateY(0%);
}
.header .logo{
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}     
.header .nav-toggler{
    height: 34px;
    width: 44px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav-toggler.active{
    position: absolute;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease;
    transform: translateX(-200px);
}

.header .nav-toggler span{
    height: 2px;
    width: 30px;
    display: block;
    background-color: var(--white);
    position: relative;
}
.header .nav-toggler.active span{
    background-color: transparent;
    transition: background-color 0.5 ease;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white);
}
.header .nav-toggler span::before{
    transform: translateY(-8px);
}
.header .nav-toggler.active span::before{
    transform: rotate(45deg);
    transition: transform 0.5s ease;
}
.header .nav-toggler span::after{
    transform: translateY(8px);
}
.header .nav-toggler.active span::after{
    transform: rotate(-45deg);
    transition: transform 0.5s ease;
}
.header .nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 280px;
    background-color: #965C11;
    box-shadow: var(--shadow);
    overflow-y: auto;
    padding: 80px 0 40px;
    transition: transform 0.5s ease;
    transform: translateX(100%);
}
.header .nav.open{
    transform: translateX(0%);

}
.header .nav ul li  a{
    display: block;
    font-size: 25px;
    color: var(--white);
    padding: 10px 30px;
    text-transform: capitalize;
    transition: color 0.3s ease;
}
.header .nav ul li  a:hover{
    color: var(--main-color);
}

/* HOME SECTION */
.home-section{
    position: relative;
    overflow: hidden;
}
.home-section::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    opacity: 0.45;
    z-index: -1;
}
.home-section .home-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),#965C11), url('../home-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
    animation: zoomInOut 15s ease infinite;
}
.home-section .min-vh-100{
    padding: 100px 0 ;
}
.home-text{
    padding: 0 1px;
    max-width: 590px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.home-text h1{
    font-family: var(--cursive-font);
    font-size: 60px;
    line-height: 75px;
    margin: 0 0 5px;
}
.home-text p{
    margin: 0 0 30px;
}

/* PRODUCT SECTION */
.product-section{
    background-color: #965C11;
}
.product-img,
.product-text{
    width: 50%;
    padding: 0 15px;
    margin-bottom: 60px;
}
.product-text h3{
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 0 15px;
}
.product-text p{
    margin: 0 0 15px;
}
.product-img img{
    width: 100%;
    border-radius: 20px;
}
.product-img .img-box{
    position: relative;
}
.product-img .img-box::before{
    content: '';
    position: absolute;
    height: 120px;
    width: 120px;
    border: 3px solid rgb(255, 208, 0);
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    animation: spin01 10s linear infinite;
}
.product-img .img-box h3{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 250px;
    text-align: center;
    transform: translate(-50%,-50%);
    font-family: var(--cursive-font);
    font-size: 55px;
    font-weight: bold;
    text-transform: capitalize;
}

/* MENU SECTION */
.menu-section{
    background-color: #794d15;
    padding-bottom: 60px;
}
.menu-section .section-title{
    margin-bottom: 40px;
}
.menu-tabs{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.menu-tab-item{
    font-size: 18px;
    font-family: inherit;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    margin: 0 10px 10px;
    display: inline-block;
    transition: color 0.3s ease;
}
.menu-tab-item.active{
    color: var(--main-color);
}
.menu-tab-content{
    display: none;
}
.menu-tab-content.active{
    display: flex;
}
.menu-item{
    width: 50%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.menu-item::after{
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    border-bottom: 2px dashed var(--white-light); /*warna pada garis item */
}
.menu-item:nth-last-of-type(2)::after,
.menu-item:nth-last-of-type(1)::after{
    border: none;
}
.menu-item-title{
    display: flex;
    align-items: center;
    max-width: calc(100% - 80px);
}
.menu-item-title h3{
    font-size: 16px;
    text-transform: capitalize;
    transition: color 0.3s ease;
}
.menu-item:hover .menu-item-title h3{
    color:var(--main-color);/*Warna tulisan pada nama item ketika pointer mengenai */
}
.menu-item-title img{
    max-width: 100px;
    margin-right: 15px;
}
.menu-item-price{
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color); /*warna asli harga */
    transition: color 0.3s ease;
}
.menu-item:hover .menu-item-price{
    color: var(--white); /*Warna tulisan pada harga ketika kena pointer mengenai */
}

/* TESTIMONIALS SECTION */
.testimonials-section{
    background-color: #965C11;
    padding-bottom: 50px;
}
.testi-item{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    border: 2px solid #965C11;
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--shadow);
}
.testi-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testi-author h3{
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 3px;
}
.testi-author span{
    display: block;
    font-size: 14px;
    text-transform: capitalize;
}
.testi-author img{
    max-width: 60px;
    border-radius: 50%;
    border: 3px solid var(--white-light);
    box-shadow: var(--shadow);
    transition: border-color 0.5s ease;
}
.testi-item:hover .testi-author img{
    border-color: var(--main-color);
}
.testi-item p{
    margin: 15px 0;
}
.testi-item .ratings i{
    font-size: 16px;
    color: rgb(255, 208, 0);
}

/* TEAM SECTION */
.team-section{
    background-color: #794d15;
    padding-bottom: 125px;
}
.team-item{
    width: calc(100% / 4);
    padding: 0 15px;
    position: relative;
}
.team-item img{
    width: 100%;
    border-radius: 12px;
    transition: transform 0.5 ease;
}
.team-item:hover img{
    transform: skewY(2deg);
}
.team-item-info{
    background-color: #794d15;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    transform: translateY(50%);
    box-shadow: var(--shadow);
    transition: all 0.5s ease;
    pointer-events: none;
}
.team-item:hover .team-item-info{
    transform: translateY(-15px);
    background-color: var(--main-color);
}
.team-item-info h3{
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.team-item-info p{
    text-transform: capitalize;
    transition: all 0.5s ease;

}
.team-item:hover .team-item-info p{
    color: var(--white);
}

/* FOOTER SECTION */
.footer{
    padding: 80px 0 0;
    background-image: url(../footer-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 2;
}
.footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: -2;
}
.footer-item{
    width: calc(100% / 3);
    padding: 0 15px;
    text-align: center;
}
.footer-item h3{
    text-transform: capitalize;
    font-size: 23px;
    margin: 0 0 15px;
}
.footer-item p{
    line-height: 30px;
}
.footer-item .social-links{
    margin-top: 15px;
}
.footer-item .social-links a{
    display: inline-flex;
    height: 40px;
    width: 40px;
    color: var(--white-light);
    align-items: center;
    justify-content: center;
    transition: color 0.5 ease;
}
.footer-item .social-links a:hover{
    color: var(--main-color);
}
.footer .copyright{
    margin: 80px 0 0;
    width: 100%;
    text-align: center;
    padding: 25px 15px;
    font-size: 14px;
    border-top: 1px solid var(--white-light);
}

/* RESPONSIVE */
@media(max-width:991px){
    .testi-item{
        width: calc(50% - 30px);
    }
    .team-item{
        width: 50%;
        margin-bottom: 80px;
    }
}
@media(max-width:767px){
    .home-text h1{
        font-size: 50px;
        line-height: 65px;
    }
    .menu-item,
    .product-text,
    .product-img{
        width: 100%;
    }
    .menu-item:nth-last-of-type(2):after{
         border-bottom: 2px dashed var(--white-light);
    }
    .product-text{
        font-size: 24px;
    }
    .footer-item{
        width: 100%;
    }
    .footer-item:not(:last-child){
        margin-bottom: 30px;
    }
    .testi-item{
        width: calc(100% - 30px);
    }
}
@media(max-width:575px){
    .team-item{
        width: 100%;
    }
    .team-item:not(:last-child){
        margin-bottom: 100px;
    }
}
